@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-image-preview-img-wrapper {
  position: relative;
}

.ant-image-preview-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
}

.ant-input-suffix {
  margin-top: -5px;
}
